@import '../../vendor/material-design-lite/material2.css';

.demo-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.demo-main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.demo-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.demo-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.demo-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.demo-content h3 {
  margin-top: 48px;
}

.demo-footer {
  padding-left: 40px;
}

.demo-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}

.mrp-card-square.mdl-card {
  width: 100%;
  height: 260px;
}

.mrp-card-square > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.3);
}

.mrp-card-filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.mrp-card-filename > a{
  text-decoration: none;
  color: white;
}

.mrp-card-collection.mdl-card {
  width: 100%;
  height: 500px;
}

.mrp-card-collection > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.3);
}

.mdl-cell > h4{
  margin-bottom: 0;
}

.login-card.mdl-card {
  width: 100%;
  height: auto;
}

.login-card > .card-title{
  padding: 16px;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.forgot_link{
  padding: 16px;
  font-size: 12px;
}

.setting_option > a{
  padding: 10px;
  margin: 10px;
}

.mrp-card-movie{
  width: 100%;
  height: 30em;
}

.movie-info > p{
  padding: 10px;
  text-align: justify;
}

.movie-cast > h6{
  line-height: 1;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.rating-ripple{
  position: absolute;
  z-index: 99;
  top: 20px;
  right: 50px;
}

.rating-ripple > p{
  padding: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.rating-ripple > p > span{
  font-weight: 600;
  font-size: 26px;
}

.rating-ripple > p > i{
  font-size: 24px;
}

.body_header > div > span > h5{
  padding: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.pagination{
  padding-top: 20px;
}

.pagination > button{
  font-weight: 400;
  font-size: 12px;
  height: 30px;
  min-width: 30px;
  width: 30px;
}