<div class="page-content">
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--4-col">
            <div class="mrp-card-movie mdl-card mdl-shadow--2dp" style="color: #fff; background: url('https://image.tmdb.org/t/p/original/{{movie.poster_path}}') center / cover;">
            </div>
        </div>
        <div class="mdl-cell mdl-cell--8-col">
            <div class="mdl-cell mdl-cell--12-col">
                <h3>{{movie.movieName}}</h3>
                <span class="mdl-chip">
                  <span class="mdl-chip__text">{{movie.runtime}}</span>
                </span>
                <span class="mdl-chip">
                  <span class="mdl-chip__text">{{movie.genres}}</span>
                </span>
                <span class="mdl-chip">
                  <span class="mdl-chip__text">{{movie.release_date}}</span>
                </span>
                <span class="mdl-chip">
                  <span class="mdl-chip__text">{{movie.original_language | uppercase}}</span>
                </span>
                <div class="movie-info">
                    <p>{{movie.overview}}</p>
                </div>
                <div class="movie-cast">
                    <h6>Total Votes: <span style="font-weight: 300">{{movie.vote_count}}</span></h6>
                    <h6>Popularity: <span style="font-weight: 300">{{movie.popularity}}</span></h6>
                    <h6>Production house: <span style="font-weight: 300">{{movie.productionID}}</span></h6>
                </div>
                <br><br>
                <div>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" ng-click="toFavorite()">Add to favorite</button>
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" ng-click="toWatched()">Add to watched</button>
                    <a id="show-rating-dialog" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary" ng-click="openUpdateModal()">Rate movie</a>
                    <dialog class="mdl-dialog" id="rating-dialog">
                        <h4 class="mdl-dialog__title" align="center">Add Rating</h4>
                        <div class="mdl-dialog__content">
                            <form action="#">
                                <div class="mdl-grid">
                                    <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
                                        <div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
                                            <input class="mdl-slider mdl-js-slider" type="range" min="0" max="5" value="{{movie_rating}}" ng-model="rating.value" step="0.25" tabindex="0">
                                            <div align="center"><span style="font-size: larger; font-weight: 100; font-family: "Roboto", "Helvetica", "Arial", sans-serif">{{rating.value}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="mdl-dialog__actions">
                            <button type="button" class="mdl-button mdl-button--colored" ng-click="addRating()">Update</button>
                            <button type="button" class="mdl-button mdl-button--colored close" ng-click="closeUpdateModal()">Close</button>
                        </div>
                    </dialog>
                </div>
                <!-- Ripple -->
                <div class="rating-ripple">
                    <p><i class="material-icons">grade</i> <span>{{movie.vote_average}}</span></p>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
</div>