<div class="page-content">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col" align="center">
            <h2>Users</h2>
        </div>
        <div class="mdl-cell mdl-cell--12-col" align="center" ng-hide="isLoaded" style="padding: 50px;">
            <div id="loader" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop" ng-show="isLoaded">
            <div class="demo-list-action mdl-list">
                <div class="mdl-list__item" ng-repeat="user in users" ng-if="user.type == 'user'">
                    <span class="mdl-list__item-primary-content">
                        <i class="material-icons mdl-list__item-avatar">perm_identity</i>
                        <span>{{user.firstName}} {{user.lastName}}</span>
                        <span style="font-weight: 100">&nbsp;({{user.emailId}})</span>
                    </span>
                    <a class="mdl-list__item-secondary-action" ng-click="deleteUser(user.userId)"><i class="material-icons">delete</i></a>
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--12-col" align="center">
            <button class="mdl-button mdl-js-button mdl-button--primary" ng-click="loadMore()">Load more</button>
        </div>
        <br><br><br>
    </div>
</div>
